body {
  background-color: #4b4c9c;
}

header {
  background-color: rgb(233, 47, 135);
  padding: 20px;
  display: flex;
  justify-content: center;
  border-radius: 4px;
}

#header-container {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  background-color: #27283d;
  padding-left: 8px;
  padding-right: 8px;

  border-radius: 4px;
}

#title {
  color: #f63367;
  background-color: #f6d571;
  padding: 4px 8px;
  border-radius: 4px;
  font-family: "Abril Fatface";
  font-weight: 900;
  letter-spacing: 1px;
}

.fa-circle {
  color: rgb(247, 188, 56);
  font-size: 30px;
}
